<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/login.css">

</head>

<body>
    <form method="post" action="/login">
        <div class="chetos">
            <p> Inicia sesión</p>
        </div>
        <!-- Formulario  de usuario y contrasesña-->
        <div class="popos">
            <!-- usuario -->
            <label class="blanco">Usuario:</label><br>
            <input type="text" name="name" placeholder="Nombre completo"><br><br>
            <!-- contraseña -->
            <label class="blanco">Contraseña:</label><br>
            <input type="password" name="password" placeholder="Introducir Contraseña"><br><br>
            <!--boton-->
            <button type="submit" class="sub">
                <span>Iniciar</span>
            </button>
            <!-- enlace para registrarse -->
            <a class="pipi" href="/registrar">da click aqui para crear cuenta nueva</a>
        </div>
    </form>
</body>

</html>


</html>