<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/perfil.css">


</head>

<div class="container">
    <!--se crea un html donde se va mostrar el nombre del usuario-->
    <h1>BIENVENIDO</h1>
    <h2 class="Lit">Hola mi humilde {{naming}}</h2>
    <div class="button-container">

        <a class="boton" href="/edit/{{naming}}">
            <span>Editar perfil</span>
        </a>

        <form action="/delete" method="post">
            <input type="hidden" name="name" value="{{naming}}">
            <button class="button" type="submit">
                    
                    <samp>Borrar perfil</samp>

                </button>
        </form>
        <a class="boton" href="/usuarios"><button>Ver lista de usuarios</button></a>
    </div>
</div>
</body>

</html>