<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/registro.css">
</head>

<body>
    <!--se crea un html donde el usuario podra registrarse si aun no tiene cuenta-->
    <div class="container">
        <h1>REGISTRADOR DE NUEVO USUARIO</h1>

        <form action="/registrar" method="post">
            <label class="escritura">Ingresa usuario</label><br>
            <input placeholder="Usuario" name="name" type="text">
            <br>

            <label class="escritura">Ingresa contrasena</label><br>
            <input placeholder="contrasena" name="password" type="password">
            <br>
            <input class="sub" type="submit">
        </form>

        <a href="/">Ir a la pagina de inicio</a>

</body>

</html>